body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}
h1 {
	font-family: RALEWAY;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	 }
a {
	font-family: RALEWAY;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	display: block;
	margin: 0 20px;
	display: inline;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
main {
	width: 850px;
	margin: 35px auto;
}
h2 {
	font-family: RALEWAY;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "DROID SERIF";
	line-height: 26px;
	font-size: 18px;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0;
}
img {
	margin: 40px 8px 0 8px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.caps1
	{text-transform: uppercase;
}
.copyright{
	font-family: RALEWAY;
	float: left;
}
.message {
	font-family: RALEWAY;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
a:hover {
	border-color: white;
}